# The Common Beginner Mistakes with Looping in Python

## Understand What Is Iterable
## Examples of What Is Iterable and What Will Cause Exceptions
## Understand What Are You Iterating in the Value

### Introduction

When I began learning about looping in Python, it was initially very difficult to understand because I was use to doing tasks through SQL, which frequently is a query to return results, insert data into a database or perform other database-specific tasks one time, not repeatedly, and especially not repeating based on another list of factors. The concept of repeating the same tasks to work more efficiently was appealing, but it was initially hard to wrap my head around, probably because I tried to tackle the concept of looping before truly grasping what can be iterated (what can be used as a sequence to repeat the loop). Putting two and two together was a disconnect for me, for example, learning about tuples and lists. I did not then further apply that knowledge to know how to truly grasp types that can be iterated. So let's begin with some essential common mistakes and overlooked concepts in the context of loops.

## Understand What Is Iterable
There are certain datatypes that are iterable, while others are not, for example:

| Can't Iterate This        | But You Can Iterate This   | Example Reference |
| :------------------------ |:--------------------------|:------------------|
| integers                  | ranges of integers        | Example 1, 2      |

### Example 1: Ranges Not Integers
The first example will show that when looping integers, it will result in an exception TypeError: 'int' object is not iterable.

In [2]:
for x in 5:
    print(x)

TypeError: 'int' object is not iterable

Instead, always apply ranges to integers.

In [3]:
for x in range(5):
    print(x)

0
1
2
3
4

### Example 2: Another Example of Ranges Not Integers
The second example is a different version of what __*should*__ appear as a range, but it's still an integer and will provide a exception TypeError: 'int' object is not iterable.

In [4]:
students = ["Marky", "Lisa"]

for x in len(students):
    print(x)

TypeError: 'int' object is not iterable

However, if we check the output of len(students), we will see it is still an integer (a total of values in the list).

In [5]:
students = ["Marky", "Lisa"]

print(len(students))

2

Again, integers are not iterable! Ranges are iterable, so we would have to convert the integer output as a range.

In [6]:
students = ["Marky", "Lisa"]


for x in range(len(students)):
    print(x)

0
1

### Know What You Are Looping in the Value
The second part that took some practice for me was understanding what can be looped. What am I looping when I write "for x in whatever"? Here are some examples of what is being iterated for certain types:

| Iterable Type             | Can Iterates This         | Example Reference |
| :------------------------ |:--------------------------|:------------------|
| string                    | letter in the string      | Example 3         | 
| ranges                    | each value in the range   | Example 4         | 
| dictionary                | key                       | Example 5         |
| dataframe                 | columns, rows             | Example 5         |
| list, tuples              | item in your list or tuple|                   |

__Example 3: String:__ An example a string is below, which uses an installed string from the *string* module, which can be used to apply a loop for columns in a sheet of a workbook (Excel file) (i.e. make each column up to the 14th column a width 30). The code iterates through each letter of the string up to the 14th letter of the alphabet.

In [7]:
from string import ascii_uppercase

for x in ascii_uppercase[:14]:
    print(x)

A
B
C
D
E
F
G
H
I
J
K
L
M
N

__Example 4: Range:__ In a range of numbers, it runs through each number. Below is an example of a dynamic range, which can be used to loop through creating a statement for each month of the current quarter (but currently only prints the numerical month value of the current quarter).

In [9]:
import math
import pandas as pd
import datetime

date = datetime.date.today()
last_month_delta = datetime.timedelta(days=-30)
last_month = date + last_month_delta
quarter = pd.Timestamp(last_month).quarter
month_in_qtr = 3
month = month_in_qtr * quarter

for x in range(month, 0, -1):
    if math.ceil(x/3) == quarter:
        print(x)

3
2
1

__Example 5: Dictionaries/Dataframes:__ Dictionaries and dataframes are iterable, but they have a slight difference when iterating them. In dictionaries, the loop defaults its iteration to keys, even when applying the len. For example, let's iterate the dictionary version of the example dataset first.

In [10]:
dict = {'col1': [1, 2, 3, 4], 'col2': [5, 6, 7, 8]}

for x in dict:
    print (x)

for x in range(len(dict)):
    print(x)

col1
col2
0
1

Dictionaries can be converted into a more organized fashion as dataframes (like Excel spreadsheets but for Python). However, when converting them to a dataframe using the pandas module, we can refer to either the column or the row, since now it can be  treated as a grid of data. Below is how the same data appears as a dataframe (the first column with no header is an index that appears by default but we'll keep it for illustration purposes of counting rows).

In [23]:
import pandas as pd

dict = {'col1': [1, 2, 3, 4], 'col2': [5, 6, 7, 8]}

df =pd.DataFrame(dict)

print(df)

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8

Now let's  iterate the dictionary two different ways: by column headers and by row number.

In [21]:
import pandas as pd

dict = {'col1': [1, 2, 3, 4], 'col2': [5, 6, 7, 8]}

print('\nIterating the dataframe loops through the column names: ') 
for x in df:
    print (x)

print('\nIterating through the length of the dataframe iterates through rows (starting with 0): ') 
for x in range(len(df)):
    print(x)

Iterating the dataframe loops through the column names:
col1
col2

Iterating through the length of the dataframe iterates through rows (starting with 0):
0
1
2
3

__In Conclusion:__ Understanding loops is a matter of understanding that not all ata types are iterable, finding the function that makes it iterable and the understanding what can be iterated from the value.